.detailcourse-page{
    margin: 80px 30%;
}

.detail-judul{
    text-align: center;
    font-size: 30px;
    color: #5b545a;
}

.detail-gambar{
   margin-left: 10px; 
}

.detail-deskripsi{
    color: #333333;
    font-size: 18px;
    margin-left: 5%;
}

@media screen and (max-width: 863px){
    .detailcourse-page{
        margin: 80px 10%;
    }
}

@media screen and (max-width: 725px){
.detail-deskripsi{
    margin-left: 10%;
}
}