.about-page{
    margin: 0 30%;
    padding-top: 15px;
    align-items: center;
}

.about-page h2{
    font-size: 35px;
    color: #5b545a;
}

img{
    width: 70%;
    margin: 5%;
    padding-left: 5%;
}

.about-page p{
    font-size: 20px;
    color: #565654;
}

@media screen and (max-width: 863px){
    .about-page{
        margin: 0 15%;
    }
}

@media screen and (max-width: 725px){
    .about-page{
        margin: 0 15%;
    }
}