@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  max-width: 100%;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


